################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShahbazWebsite_MVCPlatform/v15/Server/sqlite3/db.lock
/.vs/config/applicationhost.config
/.vs/ShahbazWebsite_MVCPlatform/v15/Server/sqlite3/storage.ide
/.vs/ShahbazWebsite_MVCPlatform/v15/Server/sqlite3/storage.ide-shm
/.vs/ShahbazWebsite_MVCPlatform/v15/Server/sqlite3/storage.ide-wal
/.vs/ShahbazWebsite_MVCPlatform/v15/sqlite3/db.lock
/.vs/ShahbazWebsite_MVCPlatform/v15/sqlite3/storage.ide-shm
/.vs/ShahbazWebsite_MVCPlatform/v15/sqlite3/storage.ide-wal
