

    <!DOCTYPE html>
    <html>
    <head>

        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewData["Title"]</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>

        @*FullCalendar.io css and scripts loaded:*@
        <link href='~/css/fullcalendar.css' rel='stylesheet' />
        <link href='~/css/fullcalendar.print.css' rel='stylesheet' media='print' />
        <script src='~/lib/moment.min.js'></script>
        <script src='~/lib/jquery.min.js'></script>
        <script src='~/js/fullcalendar.js'></script>



        @*FullCalendar.io JQuery script running to fill div with id = "calendar" in body: *@
        <script>

            $(document).ready(function () {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month'
                    },
                    defaultDate: '2018-04-01',
                    firstDay: '01', // 01 = Monday
                    defaultView: 'month',
                    navLinks: true, // can click day/week/month names to navigate views
                    editable: false,
                    eventLimit: false, // allow "more" link when too many events
                    contentHeight: 700,

                    eventRender: function (event, element, view) {

                        if (event.type == "Parking" || event.type == "parking"
                                                    || event.type == "Guest Parking"
                                                    || event.type == "guest parking") {

                            $(element).find('.fc-content').prepend("&nbsp;")
                                .prepend('<img src="/images/parking.png" width="22" height="22" />')
                                .prepend("&nbsp; &nbsp;");
                        }

                        if (event.type == "Party Hall" || event.type == "party hall") {
                                                                                        

                            $(element).find('.fc-content').prepend("&nbsp;")
                                .prepend('<img src="/images/music.png" width="20" height="20" />')
                                .prepend('<img src="/images/partyhall.png" width="20" height="20" />')
                                .prepend("&nbsp; &nbsp;");
                        }

                        if (event.status == "Approved" || event.status == "approved" ) {

                            $(element).find('.fc-content').prepend("&nbsp; &nbsp;");

                            $(element).find('.fc-content').append("&nbsp; &nbsp;")
                                .append('<img src="/images/check.png" width="12" height="12" />');

                        }



                    },

                    eventSources: [

                        {

                            url: '/Timelines/TimelinesBookings_Months_JSON'
                            // Note: no "~" in url, we are in JQuery world
                        }

                    ]

                });

            });

        </script>



        <style>


            body {
                /*margin: 40px 10px;*/
                /*padding: 0;*/
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
                /*font-size: 17px;*/
            }

            #calendar {
                /*max-width: 900px;*/
                margin: 0 auto;
            }
        </style>
    </head>
    <body>

       
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bookNav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Employee" asp-action="Index">Employee Management</a>
                </div>
                <div class"collapse navbar-collapse" id="bookNav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee Actions<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Users" asp-action="Index">User Management</a></li>
                                <li><a asp-area="" asp-controller="Bookings" asp-action="Index">Bookings And Requests</a></li>
                                <li><a asp-area="" asp-controller="Maintenances" asp-action="Index">Maintenance Requests</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reporting<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Reporting" asp-action="Reports_DailyRequestsAndBookings">Daily Requests & Bookings</a></li>
                                <li><a asp-area="" asp-controller="Reporting" asp-action="Reports_Maintenance">Maintenance</a></li>
                                <li><a asp-area="" asp-controller="Reporting" asp-action="Reports_TenantSearch">Tenant Search And Details</a></li>
                                <li><a asp-area="" asp-controller="Reporting" asp-action="Reports_WebPayments">Web Payments</a></li>
                                <li><a asp-area="" asp-controller="Reporting" asp-action="Reports_AggregateData">Aggregate data</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Timelines and Workflow<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Timelines" asp-action="TimelinesBookings_Months">Bookings (monthly)</a></li>
                                <li><a asp-area="" asp-controller="Timelines" asp-action="TimelinesMaintenances_Months">Maintenances (monthly)</a></li>

                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Login" asp-action="LogoutPerformed">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <br />
            <br />
            <br />
            <footer>
                <p>&copy; 2018 - CondoManagementMVCcoreApplication</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src='~/lib/moment.min.js'></script>
            <script src='~/lib/jquery.min.js'></script>
            <script src='~/js/fullcalendar.js'></script>
        </environment>

    </body>
</html>


