
@model ShahbazWebsite_MVCPlatform.Models.Booking

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFixed" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingId" />
            <div class="form-group">
                For:
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly="readonly" />
                @*<select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>*@
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrom" class="control-label"></label>
                <input asp-for="TimeFrom" class="form-control" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTo" class="control-label"></label>
                <input asp-for="TimeTo" class="form-control" />
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail" class="control-label"></label>
                <input asp-for="BookingDetail" class="form-control" />
                <span asp-validation-for="BookingDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

