
@model ShahbazWebsite_MVCPlatform.Models.Payment

@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Make Payment";
    Layout = "~/Views/Shared/_TenantLayout.cshtml";
}

@{
int UserID = Context.Session.GetInt32("_UserID").Value;
}

<h2>Create</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@UserID" readonly="readonly">
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                (enter payment amount here)
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfPayment" class="control-label"></label>
                (Rent / Locker rental / Etc.)
                <input asp-for="TypeOfPayment" class="form-control" />
                <span asp-validation-for="TypeOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

