

@{
    ViewData["Title"] = "Login";
}


@model ShahbazWebsite_MVCPlatform.Models.LoginModel

@{
    //Not using any Layout
    Layout = "";
}


<h2>Login Page</h2>


<form asp-action="LoginPerformed" asp-controller="Login">
    <label asp-for="Username"></label>
    <input asp-for="Username" placeholder="Username goes here" />
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" placeholder="Password goes here" />
    <br />
    <input type="submit" value="login" />
</form>


@* OLD WAY: Without using Model

    <form method="post" action="Login/LoginPerformed">
        Username: <input type="text" name="username">
        <br>
        Password: <input type="text" name="password">
        <br>
        <br>
        <input type="submit" value="submit">
    </form>*@
