
@{
    ViewData["Title"] = "Reports - AggregateData";
}

<h2>Reports - AggregateData</h2>

<br />

<h1> ******* Dummy Data ****** </h1>

<br />

<table>
    <tr>
        <td>
            Total Number of Bookings:
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Bookings (Parking):
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Bookings (Party Halls):
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Maintanence requests:
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Total dollars paid for Maintenance:
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Total number of Users in system:
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Total rent paying Users:
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Total payments made overall:
        </td>
        <td>

        </td>
    </tr>
</table>