
@{

    ViewData["Title"] = "Timelines - Maintenances (weekly views)";
    Layout = "_Layout_TimelinesMaintenances_Weeks";

}







<style>
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
</style>





<div style="background-color:whitesmoke">

    <h2>Maintenance requests (open and closed) </h2>
    <br />

</div>



@*Filled by JQuery script in _LayoutCalendar:*@
<div id='calendar'></div>