@{

    ViewData["Title"] = "Timelines - Bookings (weekly views)";

    Layout = "_Layout_TimelinesBookings_Weeks";

}







<style>

    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
</style>





<div style="background-color:whitesmoke">

    <h2>Booking requests (pending and approved) </h2>

    <br />

</div>



@*Filled by JQuery script in _LayoutCalendar:*@

<div id='calendar'></div>