@{
    ViewData["Title"] = "";
}


<br />
<h2>Add/Remove Users </h2>


<form method="post" action="Employee/AddUser">
    Username: <input type="text" name="username">
    <br />
    Password: <input type="text" name="password">
    <br />
    Password confirm: <input type="text" name="passwordConfirm">
    <br />
    Full name: <input type="text" name="fullName">
    <br />
    Email: <input type="text" name="email">
    <br />
    Phone #: <input type="text" name="phoneNumber">
    <br />
    Condo unit #: <input type="text" name="condoUnitNumber">
    <br />
    Sex: <input type="text" name="sex">
    <input type="submit" value="submit">
</form>