@{
    ViewData["Title"] = "Employee - Add Users";
}

@model ShahbazWebsite_MVCPlatform.Models.User

<br />
<h2>Add Users  (non-functional) </h2>


<form asp-action="AddUser" asp-controller="Employee">

    <label asp-for="UserId"></label>

    <input asp-for="UserId" placeholder="UserId goes here" />

    <br />

    <label asp-for="FirstName"></label>

    <input asp-for="FirstName" placeholder="FirstName goes here" />

    <br />

    <label asp-for="LastName"></label>

    <input asp-for="LastName" placeholder="LastName goes here" />

    <br />

    <label asp-for="Email"></label>

    <input asp-for="Email" placeholder="Email goes here" />

    <br />

    <label asp-for="PhoneNumber"></label>

    <input asp-for="PhoneNumber" placeholder="PhoneNumber goes here" />

    <br />

    <label asp-for="ApartmentNumber"></label>

    <input asp-for="ApartmentNumber" placeholder="ApartmentNumber goes here" />

    <br />

    <label asp-for="UserType"></label>

    <input asp-for="UserType" placeholder="UserType goes here" />

    <br />

    <label asp-for="Password"></label>

    <input asp-for="Password" placeholder="Password goes here" />

    <br />

    <input type="submit" value="AddUser" />

</form>